
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.svg" alt="">
			</a>
		</div>
		<div class="action-wrap">
			<a href="" class="btn button-border js-popup-open" data-popup="popup-callback">Оставить заявку</a>
		</div>
		<div class="popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-popup js-btn-toggle">Меню</a>
			<div class="popup-content-block js-popup-block">
				<a href="" class="btn-popup-close btn-action-ico ico-close js-btn-close"></a>
				<div class="menu-wrap">
					<ul class="menu">
						<li>
							<a href="">O нас</a>
							<ul>
								<li><a href="">Аспирантура</a></li>
								<li><a href="">Аспирантура</a></li>
								<li><a href="">Аспирантура</a></li>
								<li><a href="">Аспирантура</a></li>
							</ul>
						</li>
						<li><a href="">Аспирантура</a></li>
						<li><a href="">Образовательные программы</a></li>
						<li><a href="">Новости</a></li>
					</ul>
				</div>
				<div class="action-wrap">
					<a href="" class="btn button-border js-popup-open" data-popup="popup-callback">Оставить заявку</a>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /header -->
